  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink = "/home">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link " routerLink = "/buy" routerLinkActive="active">
          <i class="bi bi-grid"></i>
          <span>Buy Money</span>
        </a>
      </li><!-- End Dashboard Nav -->
      <li class="nav-item">
        <a class="nav-link " routerLink = "/transaction" routerLinkActive="active">
          <i class="bi bi-grid"></i>
          <span>Transaction</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-heading">Pages</li>
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink = "/register" routerLinkActive="active">
          <i class="bi bi-card-list"></i>
          <span>Register</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink = "/" routerLinkActive="active">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Login</span>
        </a>
      </li><!-- End Login Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" (click)="logout()" routerLinkActive="active">
          <i class="bi bi-card-list"></i>
          <span>Logout</span>
        </a>
      </li><!-- End Register Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->

